


@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  font-family: 'Lily Script One';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  
}

header h1{
    color: #a8b170;
}
header span{
 color: #d2aa7a;
}

.navbar {
    background-color: white !important;
}
.navbar .navbar-nav .active1{
    color: #a8b170 !important;
    font-weight: bold;
}
.navbar .container .logoimage{
   width: 50px;
   height: 50px;
}
.navbar .logocol{
    color: #a8b170;
    font-size: 40px;
}
.navbar .logomain_color{
    color: #d2aa7a ;
    font-size: 40px;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.navbar .nav-link{
    color:#d2aa7a !important;
}
.navbar .nav-link:hover{
    color:#a8b170 !important;
}
.navbar  .fav{
    border: 0px;
    font-size: 30px;
}
.navbar .fav::before{
    content:attr(data-before);
    width: 17px;
    height: 17px;
    background-color: #d2aa7a;
    position: absolute;
    right: 0;
    top:0;
    border-radius: 50%;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.navbar .cart{
 border: 0px;
 font-size: 30px;
 
}
.navbar .cart::before{
    content:attr(data-before);
    width: 17px;
    height: 17px;
    background-color: #d2aa7a;
    position: absolute;
    right: 0;
    top:0;
    border-radius: 50%;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}




.section1{
    margin-top: 100px;
    color:#a8b170;
}
.section1 .texts3{
    color: #a8b170;
    font-size: 40px;
}
.section1 .texts3 span{
    color: #d2aa7a;
    font-size: 40px;
}

.section1  .card-title{
    color:#d2aa7a !important;
}
.section1 .card{
    overflow: hidden;
}
.section1 .imgdiv{
    overflow: hidden;
    height: 240px;
}
.section1 .imgdiv .hearticons{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #eee;
    color: #a8b170;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;
    right: 7;
    top:7;
    font-size: 20;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.section1 .imgdiv .hearticons{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #eee;
    color: #a8b170;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;
    right: 7;
    top:7;
    font-size: 20;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.section1 .imgcard:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.section1 .list-group .list-group-item{
    color:  #d2aa7a!important;
    font-size: 25px;
}
.section1 .card-body button{
    background-color:#a8b170 !important ;
    color: white;
}
.section1 .card-body button:hover{
    background-color:#1cac78 !important ;
    color: white;
}
.section1 .card-body .removebtn{
    background-color: tomato !important;

}
.section1 .card-body .removebtn:hover{
    background-color: rgb(171, 65, 47) !important;

}
.ordernow{
    background-color:#a8b170 !important ;
    color: white !important;
}
.footer {
    background-color: white;
    bottom:0;
    height: fit-content;
    width: 100%;
}
.footer .logoimage{
   width:40px;
   height: 40px;

}
.footer .logocol{
    color: #a8b170;
    font-size: 30px;
}
.footer .logomain_color{
    color: #d2aa7a ;
    font-size: 40px;
    
}

.footer .icon_footer{
    color:#a8b170;
    font-size: 20px;
    padding: 10;
}
.footer .icon_footer:hover{
    color: #cf9640;
}
.footer p{
    color: #d2aa7a;
    font-size: 20px;
}

 .prize{
    width: 80px !important;
 }
  
  em {
    font-style: italic; 
  }
  
  table {
    background: white;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 23px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
    border-radius: 3%;
  } 
  
  th {
    background-color: #a8b170;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
    border-radius: 3%;
 
  }
  td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
    color:rgb(89, 87, 87);
  }
  
  td:first-child {
    box-shadow: inset 1px 0 0 #fff;
    padding-top: 35px;
  } 
  
  td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
    color:#d2aa7a;
  } 
  tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
  }
  
  tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
  } 
  
  tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
  } 
  .count{
    width: 80px;
    color: #d2aa7a !important;
  }
.name_product{
    color: #d2aa7a;
}
.con_sec8{
    /* background-image: url('pexels-shvets-production-7195272.jpg'); */
    background-color: #a8b170;
    background-repeat: no-repeat;
    background-size: cover;
}
.section8 input{
   height: fit-content;
    color: #d2aa7a !important;
    border: 0px;
}
.section8 textarea{
    color: #d2aa7a !important ;
}
.input-group>.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow:#a8b170;
}

.section8 button{
    background-color: #d2aa7a!important;
    color: white;
    position: relative;
    overflow: hidden;
    border: 1px solid #d69546 !important;
}
.section8 button:hover{
    background-color: #d69546 !important;
    color: white !important;
}
.section8 .inputltext{
    color:#c69a64 !important;
}




.section8 .list1{
    list-style: none;
    line-height: 50px;
    color: white; 
    font-size: 20px;
    word-spacing: 4px;
}
.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: rgba(182, 140, 68, 0.751);
    outline: 0;
    box-shadow:0 0 0 0.25rem rgba(182, 140, 68, 0.751);
}
.text .h1{
    font-size: 80px;
    padding-top: 20px;
}

@media only screen and (max-width: 990px) {
    .navbar .cart::before{
      
        left:25px;
        top:0px;
       
    }
    .navbar .fav::before{
        left:25px;
        top:0px;
    }
    
  }



  .qty .count {
    color: #000;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #a8b170 !important;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #d69546 !important;
}
div {
    text-align: center;
}
.minus:hover{
    background-color:#a8b170!important;
}
.plus:hover{
    background-color:#d69546 !important;
}
/*Prevent text selection*/
span{
    user-select: none;
    
}
input{  
    border: 0;
    width: 2%;
}

input:disabled{
    background-color:white;
}
         



